/*main css for "About" page */

.about-grid{
    height: 100th;
    display: grid;
    grid-template-columns: 100px 200px ;
    background-color: aquamarine;
    margin: auto;
    justify-content: center;
}

.mainDog {

  margin-left: 120px;
}

.StoryGrillBox{
    width: 100%;
    height: 500px;
    justify-content:flex-end;
    background-color:black;

}
.aboutrow{
   display: flex;
   justify-content:flex-end; 
    align-items:flex-end;
}

.aboutPage-chat-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
}
.about-splash-container{
  display: grid;
  grid-template-columns:repeat(2, .5fr);
  text-align: left;
  color: #5F002B;
  
  max-width: 1624.5px;
  
  
  
  max-height: 674.5px;
}

.about-splash-container h6{
  font-family: 'Fugaz One';
  font-size: 35px;
  text-align: left;

}
.about-text{
  background-color: white;

  
  
  
  
  
}

.about-text p{
  font-size: 18px;
  max-height: 674.5px;
  
  font-family: 'Montauk';
  
  
}

.about-splash-container img{
  display: grid;
  
  
  
  height: 674.5px;
  width: 674.5px;
}


.team-header{
  background-color: white;
  justify-content: center;
  text-align: center;
  font-family: 'Fugaz One';
  font-size: 50px;
  
}
.team-header h6{
  background-color: white;
  justify-content: center;
  text-align: center;
  font-family: 'Fugaz One';
  font-size: 35px;
  color: #5F002B;
}

