/*main css for "About" page */

.Aboutgrid{
    height: 100th;
    display: grid;
    grid-template-columns: 100px 200px ;
    background-color: aquamarine;
}

.mainDog {

  margin-left: 120px;
}

.StoryGrillBox{
    width: 100%;
    height: 500px;
    justify-content:flex-end;
    background-color:black;

}
.aboutrow{
   display: flex;
   justify-content:flex-end; 
    align-items:flex-end;
}

.aboutPage-chat-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    justify-content: center;
    margin: 3rem auto;
    max-width: 1200px;
}