/*main css for "About" page */

.about-grid{
    height: 100th;
    display: grid;
    grid-template-columns: 100px 200px ;
    background-color: aquamarine;
    margin: auto;
    justify-content: center;
}

.mainDog {
  
   /* margin-left: 120px; */
}

.about-splash-container{
  display: grid;
}