/*main css for "About" page */

.about-splash-container{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  text-align: left;

}

.about-splash-container h6{
  font-family: 'Fugaz One';
}


.about-splash-container img{
  display: grid;
 
  margin: auto;
  justify-content: center;
  height: 674.5px;
  width: 674.5px;
}