body {
  margin: 0;
  padding: 0;
}


.menu-section {
  margin-bottom: 10px;
  padding-bottom: 0;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 40px;
  width: 100%;
  box-sizing: border-box;
  color: #5F002B;
}


.footer-left {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 0.7rem;
  opacity: 0.9;
  text-align: left;
  margin-left: 6rem;
  color: #5F002B;
  /* transform: translateX(25px); */
}


.footer-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: center;
   color: #5F002B;
   margin-right:1rem;
   margin-left: 5rem;
   /* transform: translateX(-30px); */
}

.logo-small {
  width: 60px;
  height: auto;
  margin-bottom: 2px;
  /* transform: translateX(40px); */
}

.footer-right span {
  font-size: 0.7rem;
  margin-top: 0;
}

.photo-title {
  font-family: 'Fugaz One';
  font-size: 50px;
  font-weight: 400;
    color: #5F002B;

}

.photo {
  background-color: white;
  width: 1240px;
  margin-left: 30px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  height: 1000px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.grid-image {
  width: 100%;
  object-fit: cover;
  display: block;
  border-color: white;
}

.photo-title-wrapper {
  margin: 0 auto 15px;
  max-width: 1240px;
  width: 100%;
  background-color: white;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.photo-item {
  border: white 8px solid;
}

@media (max-width: 992px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
  }

  .grid-image {
    height: 150px;
  }
}



.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    margin-right: 7rem;

}

.navbar-brand img {
   
    width: 210px;
    height: 82px;
    margin-left: 7rem;
}

.navbar-nav a,
.navbar-nav .nav-link {
    font-family: 'Fugaz One';
    color: #5F002B;
   
}

.navbar-nav .nav-link:hover {
    color: #5F002B;
}

.navbar{
    margin-right: 6rem;
}

@font-face {
    font-family: 'Montauk';
    src: url(/RestaurantMockupFiles/Montauk-Regular/Montauk-Light.otf);
    font-weight: lighter;
}